/* General Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%; height: 100%;
  /* font-size: 62.5%; */
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-flow: row;
}

.main-content { width: 70%;  }

.side-bar { width: 30%; }

.container {
  margin: 45px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90%;
}

button {
  cursor: pointer;
}





/* Header Section */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu-icon {
  width: 30px; height: 40px;
}

.menu {
  width: 100%;
  content: url('icons/menu.png');
}

.logo {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.world-icon {
  content: url("images/logo/world-icon.png");
  width: 120px; height: 120px;
}

.wordmark {
  content: url("images/logo/wordmark.png");
  display: block;
  position: absolute;
  top: 50px; left: -25%;
  width: 190px;
}

.logo > span {
  text-transform: capitalize;
  position: absolute;
  top: 170px; left: -25%;
  font-size: 8px; font-size: .8rem;
  width: 200px;
}

.authentication {
  display: flex;
  flex-flow: row;
  vertical-align: middle;
  justify-content: center;
}

.profile-picture {
  width: 50px; height: 50px;
  border-radius: 50%;
  float: left;
  background: #ebf0fa;
  display: flex;
  position: relative;
}

.icon {
  width: 20px; height: 20px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}



.authentication-links {
  list-style-type: none;
  margin-left: 25px;
  margin-top: 10px;
  height: 25px;
}

.authentication-links li {
  display: inline;
  margin-right:21px;
}

.authentication-links a {
  color: #666;
  text-decoration: none;
}

.authentication-links a:hover { text-decoration: underline; }

.new-article{
  margin-left: 50px;
}

.new-article > button {
  width: 108px; height: 40px;
  padding: 13px;
  color: #3669c9;                /* Medium Blue */
  background-color: #ebf0fa;     /* Light blue */
  border: 1px solid #7e9fdd;    /* baby blue */
  border-radius: 5px;
}

.new-article > button:hover {
  background-color: #3669c9;
  color: #ebf0fa;
}






/* Search Bar */
main {
  width: 100%;
  margin-top: 200px;
  vertical-align: middle;
}

.search-bar {
  display: flex;
  flex-flow: row;
  position: relative;
  margin-bottom: 20px;
}

.search-bar > input {
  min-width: 100%; height: 60px;
  color: #666;
  background-color: #ebf0fa;     /* Light blue */
  border: 1px solid #7e9fdd;    /* baby blue */
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  outline: none;
}

.search-bar > button {
  width: 105px; height: 60px;
  background-color: #3669c9;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #7e9fdd;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
}

#search-icon{
  content: url("icons/search.png");
  width: 32px; height: 32px;
  transform: rotateY(180deg);
}

.language-selector {
  display: flex;
  flex-flow: row;
  height: 30px;
  align-items: center;
  position: relative;
}

.language-selector span { height: 16px; }

#world-grid {
  content: url("icons/grid-world.png");
  width: 25px; height: 25px;
  margin-right: 20px;
}

.blue {
  color: #3669c9;
}

.gray {
  color: #666;
}

.mr10 {
  margin-right: 10px;
}

#drop-down {
  content: url("icons/drop-down.png");
  width: 10px; height: 10px;
}

.articles-counter {
position: absolute;
right: 0;
}






/* Foooter */

footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  /* margin-top: 400px; */
  bottom: 10px;
  width: 100%;
  position: absolute;
}
.logo-icon {
  width: 40px; height: 40px;
  background-color: #3669c9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  content: url("images/logo/icon-white.png");
  width: 25px; height: 25px;
}

.copyrights-section {
  width: 250px;
  padding: 6px;
  font-size: 10px;
  margin-left: 20px;

}

.copyright {
  color: #666;
  hyphens: none;
  oveflow: hidden;
}

.badge-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 350px; height: 60px;
  position: absolute;
  right: 0;
}

.android, .apple {
  width: 160px; height: 54px;
  margin: 10px;
}

.apple {
  background: url("icons/app-store-badge.png") no-repeat center / contain;
}

.android {
  background: url("icons/google-play-badge.png") no-repeat center / 120%;
  border-radius: 10px;
}

.badge-section a:link {
  text-decoration: none;
  opacity: .8;
}

.badge-section a:hover { opacity: 1; }




/* Side Bar */
.side-bar {
  background-image: linear-gradient(#2355B6,#5636BB);
  position: relative;
  z-index: 1;
}

/* .side-bar::after  {
  content: attr(data-content);
  background-image: url('/images/articles/article-3.jpg');
  opacity: .15;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
} */


.section-title { position: relative; }

.section-title .icon-wrapper img  { 
  width: 40px;
  height: 40px;
}

.sidebar-title  {
  position: absolute;
  top: 10px;
  left: 60px;

  color: white;
  font-weight: normal;
}

.article  { margin-top: 80px; }

.article-title  {
  color: white;
  font-weight: 900;
  font-size: 45px;
}

.read-time { 
  margin-top: 15px; 
  position: relative;
  opacity: .5;
}

  .read-time .icon-wrapper img {
    width: 15px;
    height: 15px;
  }

  .read-text {
    color: white;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 25px;
  }

.article-controls  {
  margin-top: 21px;
}

  .article-controls .icon-wrapper img  {
    width: 15px;
    height: 15px;
  }

.article-contents  { 
  margin-top: 90px; 
  max-height: 400px;
  overflow-y: hidden;
  position: relative;

  color: white;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;  
}

  .article-contents p { margin-bottom: 40px; }

  .article-contents a { color: white; }

  .article-contents a:hover  { text-decoration: none; }


.footnote { font-size: 12px;}

.article-links  {
  position: absolute;
  bottom: 10px;
  display: flex;

}

  .article-links button  {
    color: white;
    background: transparent;
    
    width: 158px; 
    height: 40px;
    padding: 13px;
    margin-right: 10px;
    
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .article-links button:hover  {
    background: white;
    color: #5636bb;
  }

  button.book-link  { width: 80px; }

  button.book-link:hover { 
    background: rgba(0,0,0, .5); 
    color: white;
  }

  .book-link img  { 
    width: 15px;
    height: 15px;
  }

  article { display: none; } 