/* General Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%; height: 100%;
  /* font-size: 62.5%; */
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-flow: row;
}

.main-content { width: 70%;  }
.side-bar {
  width: 30%;
  background-image: linear-gradient(#2355B6,#5636BB);
}

.container {
  margin: 45px 30px;
  display: flex;
  flex-direction: column;
}


/* Header Section */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu-icon {
  width: 30px; height: 40px;
}

.menu {
  width: 100%;
  content: url('icons/menu.png');
}

.logo {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.world-icon {
  content: url("images/logo/world-icon.png");
  width: 120px; height: 120px;
}

.wordmark {
  content: url("images/logo/wordmark.png");
  display: block;
  position: absolute;
  top: 50px; left: -25%;
  width: 190px;
}

.logo > span {
  text-transform: capitalize;
  position: absolute;
  top: 170px; left: -25%;
  font-size: 8px; font-size: .8rem;
  width: 200px;
}

.authentication {
  display: flex;
  flex-flow: row;
  vertical-align: middle;
  jusify-content: center;
}

.profile-picture {
  width: 50px; height: 50px;
  border-radius: 50%;
  float: left;
  background: #ebf0fa;
  display: flex;
  position: relative;
}

.icon {
  width: 20px; height: 20px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}



.authentication-links {
  list-style-type: none;
  margin-left: 25px;
  margin-top: 10px;
  height: 25px;
}

.authentication-links li {
  display: inline;
  margin-right:21px;
}

.authentication-links a {
  color: #666;
  text-decoration: none;
}

.authentication-links a:hover { text-decoration: underline; }

.new-article{
  margin-left: 50px;
}

.new-article > button {
  width: 108px; height: 40px;
  padding: 13px;
  color: #3669c9;                /* Medium Blue */
  background-color: #ebf0fa;     /* Light blue */
  border: 1px solid #7e9fdd;    /* baby blue */
  border-radius: 5px;
}

.new-article > button:hover {
  background-color: #3669c9;
  color: #ebf0fa;
}
